<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agency Home</title>
</head>
<body>
<h1>Welcome to the Agency</h1>

<form action="/search" method="get">
    <label>City: <input type="text" name="city"></label><br>
    <label>Start Date: <input type="date" name="startDate"></label><br>
    <label>End Date: <input type="date" name="endDate"></label><br>
    <label>Persons: <input type="number" name="persons" value="1"></label><br>
    <label>Min Price: <input type="number" name="minPrice" step="0.1"></label><br>
    <label>Max Price: <input type="number" name="maxPrice" step="0.1"></label><br>
    <label>Stars: <input type="number" name="stars"></label><br>

    <button type="submit">Search</button>
</form>

</body>
</html>
